.posts-list {
    display: flex;
    flex-flow: column;
    align-items: center;

    width: 80vw;
    min-height: calc(100vh - 180px);

    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 25px;
}

.post-list-title {
    font-size: 25px;
    margin-top: 20px;
}

.no-posts-placeholder {
    margin-top: auto;
    margin-bottom: auto;

    color: gray;
}

.post-elements-container {
    width: 90%;
}