.login-menu {
    display: flex;
    width: 100%;
    height: 100vh;

    background-image: url("../../images/login.png");
    background-repeat: no-repeat;
    background-size: cover;

    background-color: #231f46;
}

.login-container {
    display: flex;
    flex-flow: column;
    align-items: center;

    height: 200px;
    width: 300px;

    margin: auto;

    padding: 25px;

    border-radius: 25px;

    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(20px);
}

.login-label {
    margin-bottom: 20px;
}

.login-input-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.login-input-icon {
    margin-right: 10px;
}

.input-box {
    border: 0;
    background: rgba(0, 0, 0, 0.9);

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 25px;

    color: rgba(255, 255, 255, 0.75);
}

.input-box::placeholder {
    color: rgba(255, 255, 255, 0.75);
}

.login-button-wrapper {
    display: flex;
    justify-content: center;
}

.login-button {
    width: 120px;
    height: 50px;

    margin-top: 15px;

    background-color: rgb(76, 175, 79);
    border: none;
    color: white;

    border-radius: 10px;

    text-align: center;
    text-decoration: none;

    display: inline-block;
    font-size: 16px;

    cursor: pointer;

    transition: 0.25s ease-in-out;
}
.login-button:hover {
    filter: brightness(0.75);
}


.login-button-label {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.registration-text {
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}

.registration-button {
    margin-left: 3px;
    cursor: pointer;
    text-decoration: underline;
    transition: 0.25s ease-in-out;
}
.registration-button:hover {
    color: rgb(76, 175, 79);
}